
<div class="calendar @(hide ? "d-none" : "d-show")">
    <CalendarHeader NextButtonEvent="NextYear" PreviousButtonEvent="PreviousYear" DateValue="@Year" CSSClass="calendar-header">
        <CalendarButtonsLeft>
            <CalendarView Option="CalendarView.View.MonthLabel" DisplayName="Mês" Event="CreateView" CSSClass="btn"></CalendarView>
            <CalendarView Option="CalendarView.View.current" DisplayName="Ano" Event="CreateView" CSSClass="active btn"></CalendarView>
        </CalendarButtonsLeft>
        <CalendarButtons>
            <CalendarView Option="CalendarView.View.HorizontalFullYear" DisplayName="Dias" Event="CreateView" CSSClass="btn"></CalendarView>

            <CalendarView Option="CalendarView.View.current" DisplayName="Semanas" Event="CreateView" CSSClass="active btn"></CalendarView>

            <CalendarView Option="CalendarView.View.HorizontalYear" DisplayName="Meses" Event="CreateView" CSSClass="btn"></CalendarView>
        </CalendarButtons>
    </CalendarHeader>


    <div class="calendar-horizontal-year" style="display:flex">

        <div class="calendar-scroll-x">
            <table class="w-100">
                <thead>
                    <tr>
                        <th style="min-width: 225px;"></th>
                        @{int monthValue = 1; string colspanValue = "";}
                        @foreach (var month in monthsOfYear)

                        {
                            @if (month.Contains(thisMonth) && Int32.Parse(Year) == DateTime.Today.Year)
                            {
                                if (monthValue == 2)
                                {
                                    colspanValue = "4";
                                }
                                else { colspanValue = "5"; }
                                <th colspan="@colspanValue"><div class="month current">@month</div></th>
                                monthValue++; 
                            }
                            else
                            {
                                if (monthValue == 2)
                                {
                                    colspanValue = "4";
                                }
                                else { colspanValue = "5"; }
                                <th colspan="@colspanValue"><div class="month">@month</div></th>
                                monthValue++; 
                            }
                        }

                    </tr>
                    <tr>
                        <th style="min-width: 225px;"></th>
                        
                        @foreach (var week in Month)
                        {
          
                            
                            @foreach (var weekitem in week.WeeksList)
                            {

                                <th>
                                    <div class="week">@("s" + weekitem.WeekNumber)</div>
                                </th>

                            }
                                    
                            monthValue++;
                        }
                    </tr>
                </thead>
                <tbody>
                    @Resources
                    @if (Resources == null)
                        {
                        var currentmonth = 1;
                        @foreach (var resource in ResourceData)
                            {
                            <tr class="weeks">
                                <th>
                                    @resource.Text @resource.Id
                                </th>

                                @{List<Event> eventStored = new List<Event>();}
  
                                    @foreach (var month in Month)
                                    {


                                    int weekCount = 1;
                                    @foreach (var week in month.WeeksList)
                                    {
                                        string cssClass = "";
                                        int Resourse, e1 = 0, e2 = 0, e3 = 0, e4 = 0, e5 = 0;
                                        Resourse = resource.Id;
                                            if (currentmonth == 2)
                                            {
                                                    
                                                if (weekCount == 4)
                                                {
                                                //DO SOMETHING
                                                cssClass = "MyClass";
                                            }
                                            }
                                            else
                                            {
                                                if (weekCount == 5)
                                                {
                                                    //DO SOMETHING
                                                cssClass = "MyClass";
                                                }
                                            }

                                                <td class="@cssClass">
                                                    <div class="resource week" id="@Resourse" @onclick="() => DayClicked(Resourse, currentmonth, week.WeekNumber)">
                                                        @foreach (var ev in Events)
                                                        {
                                                            if (ev.EventResource == Resourse)
                                                            {
                                                                if (week.WeekNumber == 1 && ev.StartDate.Month == currentmonth && (ev.StartDate.Day >= 1 && ev.StartDate.Day < 7))
                                                                {

                                                                    if (e1 == 0)
                                                                    {
                                                                        e1++;
                                                                        <div class="event-count3" @onclick:stopPropagation="true" @onclick=@(()=>{EventDetails(ev);})></div>
                                                                    }

                                                                }
                                                                else if (week.WeekNumber == 2 && ev.StartDate.Month == currentmonth && ((ev.StartDate.Day >= 7 && ev.StartDate.Day < 14) || ev.EndDate.Day >= 7))
                                                                {

                                                                    if (e2 == 0)
                                                                    {
                                                                        e2++;
                                                                        <div class="event-count3" @onclick:stopPropagation="true" @onclick=@(()=>{EventDetails(ev);})></div>
                                                                    }
                                                                }
                                                                else if (week.WeekNumber == 3 && ev.StartDate.Month == currentmonth && ((ev.StartDate.Day >= 14 && ev.StartDate.Day < 21) || ev.EndDate.Day >= 14))
                                                                {

                                                                    if (e3 == 0)
                                                                    {
                                                                        e3++;
                                                                        <div class="event-count3" @onclick:stopPropagation="true" @onclick=@(()=>{EventDetails(ev);})></div>
                                                                    }

                                                                }
                                                                //TODO check if year is leap year for week 4 to have 29 days
                                                                else if (week.WeekNumber == 4 && ev.StartDate.Month == currentmonth && ((ev.StartDate.Day >= 21 && ev.StartDate.Day < 28) || ev.EndDate.Day >= 21))
                                                                {

                                                                    if (e4 == 0)
                                                                    {
                                                                        e4++;
                                                                        <div class="event-count3" @onclick:stopPropagation="true" @onclick=@(()=>{EventDetails(ev);})></div>
                                                                    }

                                                                }
                                                                else if (week.WeekNumber == 5 && ev.StartDate.Month == currentmonth && ((ev.StartDate.Day >= 28 && ev.StartDate.Day < 31) || ev.EndDate.Day >= 28))
                                                                {

                                                                    if (e5 == 0)
                                                                    {
                                                                        e5++;
                                                                        <div class="event-count3" @onclick:stopPropagation="true" @onclick=@(()=>{EventDetails(ev);})></div>
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </td>

                                    weekCount++;
                                    }
                                            currentmonth++;
                                        
                                  
                                    }
                        
                              
                            </tr>
                            }
                        }
                    </tbody>
            </table>
        </div>
    </div>

 

         
                        
                        
        </div>
        @if (hide == true)
        {
            if (calendarSelected == 1)
            {
                showPopup = false;
                showDetails = false;
                <HorizontalMonthCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalMonthCalendar>
            }
            else if (calendarSelected == 2)
            {
                showPopup = false;
                showDetails = false;
                <HorizontalYearCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalYearCalendar>
            }
            else if (calendarSelected == 3)
            {
                showPopup = false;
                showDetails = false;
                <HorizontalFullYearCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalFullYearCalendar>
            }
            else if (calendarSelected == 4)
            {
                showPopup = false;
                showDetails = false;
                <MonthCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></MonthCalendar>
            }
        }


        <AddEventPopup ShowPopup="@showPopup" Resource="SelectedResource" OnEventAdded="HandleEventAdded" SelectedDate="DateSelected" />

        <EventDetail Event="EventDetail" ShowDetails="@showDetails"></EventDetail>

        @code {
            [Parameter]
            public RenderFragment Resources { get; set; }
        }
