@using static Calendar.Pages.CalendarView;
@inject EventListService eventListService
@if (!nextView)
{

    <div class="calendar @(hide ? "d-none" : "d-show")">
        <CalendarHeader CSSClass="calendar-header" NextButtonEvent="NextYear" PreviousButtonEvent="PreviousYear" DateValue="@Year">
            <CalendarButtonsLeft>
                <CalendarView Option="CalendarView.View.MonthLabel" DisplayName="Mês" Event="CreateView" CSSClass="btn"></CalendarView>
                <CalendarView Option="View.current" DisplayName="Ano" Event="CreateView" CSSClass="active btn"></CalendarView>
            </CalendarButtonsLeft>
            <CalendarButtons>
                <CalendarView Option="CalendarView.View.HorizontalFullYear" DisplayName="Dias" Event="CreateView" CSSClass="btn"></CalendarView>

                <CalendarView Option="CalendarView.View.HorizontalWeekYear" DisplayName="Semanas" Event="CreateView" CSSClass="btn"></CalendarView>

                <CalendarView Option="View.current" DisplayName="Meses" Event="CreateView" CSSClass="active btn"></CalendarView>
            </CalendarButtons>
        </CalendarHeader>

        <CalendarBody Type="CalendarBody.calendar.HorizontalYear" EventData="Events" MonthsList="@monthsOfYear" CurrentMonthString="@thisMonth" YearString="@Year" ResourceData="ResourceData" CurrentMonthValue="_currentMonth" HorizontalYearDayClickMethod="DayClicked" EventClickMethod="EventDetails"></CalendarBody>

    </div>
}

@if (nextView)
{
    //prevent popups from appearing
    showPopup = false;
    showDetails = false;

    <HorizontalFullYearCalendar></HorizontalFullYearCalendar>
}

@*can turn this into a component*@
@if (hide == true)
{
    if (calendarSelected == 3)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalFullYearCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalFullYearCalendar>
    }
    else if (calendarSelected == 4)
    {
        showPopup = false;
        showDetails = false;
        <MonthCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></MonthCalendar>
    }
    else if (calendarSelected == 5)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalWeekYearCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalWeekYearCalendar>
    }
    else if (calendarSelected == 1)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalMonthCalendar Events="Events" ResourceData="ResourceData" EventClick="EventDetails"></HorizontalMonthCalendar>
    }
}

<AddEventPopup ShowPopup="@showPopup" SelectedDay="@DaySelected" Resource="SelectedResource" OnEventAdded="HandleEventAdded" SelectedDate="DateSelected" ResourceData="ResourceData"/>

<EventDetail Event="EventDetail" ShowDetails="@showDetails"></EventDetail>
