@using static Calendar.Pages.CalendarView;

@if (!nextView)
{

    <div class="calendar  @(hide ? "d-none" : "d-show")">
        <CalendarHeader CSSClass="calendar-header" DateValue="@MonthYear" PreviousButtonEvent="PreviousMonth" NextButtonEvent="NextMonth">
            <CalendarButtonsLeft>
                @*<button class="btn btn-primary calendar-view" @onclick=@(()=>{nextView = true;})>Vista</button>*@
                <CalendarView Option="View.Month" DisplayName="Calendario Icon" CSSClass="btn" Event="CreateView"></CalendarView>
                <CalendarView DisplayName="Colab Icon" Event="CreateView" CSSClass="active btn"></CalendarView>
            </CalendarButtonsLeft>
            <CalendarButtons>
                @*<button class="btn btn-primary calendar-view" @onclick=@(()=>{nextView = true;})>Vista</button>*@
                <CalendarView Option="View.Month" DisplayName="Mês" Event="CreateView" CSSClass="btn"></CalendarView>

                <CalendarView Option="View.current" DisplayName="MêsHoriz" Event="CreateView" CSSClass="active btn"></CalendarView>

                <CalendarView Option="View.HorizontalYear" DisplayName="AnoHoriz" Event="CreateView" CSSClass="btn"></CalendarView>

                <CalendarView Option="View.HorizontalFullYear" DisplayName="AnoInteiroHoriz" Event="CreateView" CSSClass="btn"></CalendarView>

                <CalendarView Option="View.HorizontalWeekYear" DisplayName="AnoSemanaHoriz" Event="CreateView" CSSClass="btn"></CalendarView>
            </CalendarButtons>
        </CalendarHeader>
        <CalendarBody Type="CalendarBody.calendar.HorizontalMonth" ResourceData="ResourceData" CurrentMonthValue="_currentMonth" DayData="Days" EventData="Events" HorizontalMonthDayClickMethod="DayClicked" EventClickMethod="EventDetails">
        </CalendarBody>
    </div>
}

@if (nextView)
{
    //prevent popups from appearing
    showPopup = false;
    showDetails = false;

    <HorizontalYearCalendar></HorizontalYearCalendar>
}

@*can turn this into a component*@
@if (hide == true)
{

    if (calendarSelected == 2)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalYearCalendar Events="Events" ResourceData="ResourceData"></HorizontalYearCalendar>
    }
    else if (calendarSelected == 3)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalFullYearCalendar Events="Events" ResourceData="ResourceData"></HorizontalFullYearCalendar>
    }
    else if (calendarSelected == 4)
    {
        showPopup = false;
        showDetails = false;
        <MonthCalendar Events="Events" ResourceData="ResourceData"></MonthCalendar>
    }
    else if (calendarSelected == 5)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalWeekYearCalendar Events="Events" ResourceData="ResourceData"></HorizontalWeekYearCalendar>
    }
}

<AddEventPopup ShowPopup="@showPopup" SelectedDay="@DaySelected" Resource="SelectedResource" OnEventAdded="HandleEventAdded" SelectedDate="DateSelected" />

<EventDetail Event="EventDetail" ShowDetails="@showDetails"></EventDetail>
