@using static Calendar.Pages.CalendarView;
@* one way to hide the view*@
@if (!nextView)
{
                        @* onother way to hide the view*@
<div class="calendar @(hide ? "d-none" : "d-show")">
    <CalendarHeader DateValue="@MonthYear" NextButtonEvent="NextMonth" PreviousButtonEvent="PreviousMonth">
        <CalendarButtonsLeft>
            @*<button class="btn btn-primary calendar-view" @onclick=@(()=>{nextView = true;})>Vista</button>*@
            <CalendarView DisplayName="Calendario Icon" CSSClass="active btn"></CalendarView>
            <CalendarView Option="View.HorizontalMonth" DisplayName="Colab Icon" Event="CreateView" CSSClass="btn"></CalendarView>
        </CalendarButtonsLeft>
        <CalendarButtons>
            @*<button class="btn btn-primary calendar-view" @onclick=@(()=>{nextView = true;})>Vista</button>*@
            <CalendarView Option="View.HorizontalMonth" DisplayName="Mês" Event="CreateView" CSSClass="active btn"></CalendarView>
            <CalendarView Option="View.HorizontalFullYear" DisplayName="Ano" Event="CreateView" CSSClass="btn"></CalendarView>
        </CalendarButtons>
    </CalendarHeader>
    <div class="calendar-week-day">
        <div class="calendar-week-day-child">Domingo</div>
        <div class="calendar-week-day-child">Segunda</div>
        <div class="calendar-week-day-child">Terça</div>
        <div class="calendar-week-day-child">Quarta</div>
        <div class="calendar-week-day-child">Quinta</div>
        <div class="calendar-week-day-child">Sexta</div>
        <div class="calendar-week-day-child">Sábado</div>
    </div>
        <CalendarBody Type="CalendarBody.calendar.Month" WeekData="Weeks" EventData="Events" MonthDayClickMethod="DayClicked" EventClickMethod="EventDetails"></CalendarBody>
</div>
}

@if (nextView)
{
    //prevent popups from appearing
    showPopup = false;
    showDetails = false;

    <HorizontalMonthCalendar></HorizontalMonthCalendar>
}
            @*can turn this into a component*@
@if (hide == true)
{
    if (calendarSelected == 1)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalMonthCalendar></HorizontalMonthCalendar>
    }
    else if (calendarSelected == 2)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalYearCalendar></HorizontalYearCalendar>
    }
    else if (calendarSelected == 3)
    {
        showPopup = false;
        showDetails = false;
        <HorizontalFullYearCalendar></HorizontalFullYearCalendar>
    }
}

<AddEventPopup ShowPopup="@showPopup" SelectedDay="@selectedDay" Resource="1" OnEventAdded="HandleEventAdded" SelectedDate="DateSelected" />

<EventDetail Event="EventDetail" ShowDetails="@showDetails"></EventDetail>